<h1>Upload your song</h1>

<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li> <%= error %></li>
        <% end %>
    </ul>
<% end %>
<%= form_for @user_project do |f| %>


Projects:
    <%= f.fields_for :project do |projects_form| %>
        <%= projects_form.label :name %>
        <%= projects_form.text_field :name %>
       
        <%= projects_form.label :description %>
        <%= projects_form.text_field :description %>

         <%= projects_form.label :likes %>
        <%= projects_form.text_field :likes %>

         <%= projects_form.label :views %>
        <%= projects_form.text_field :views %>

         <%= projects_form.label :plays %>
        <%= projects_form.text_field :plays %>
    <% end %>

<%= f.label :user_id %> %>
<%= f.collection_select(:user_id,@users,:id,:full_name) %> <br> %> %>

<%= f.label :project_category_id %> %>
<%= f.collection_select(:project_category_id,@project_categories,:id,:category_type) %> <br> %> %>

<%= f.label "Audio File" %>
<%= f.file_field :song_file %> <br>


<%= f.submit "Upload Your Song" %>
<% end %>