<h1>Upload your song</h1>

<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li> <%= error %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @project do |f| %>

<%= f.label "Song Name" %>
<%= f.text_field :name %>

<%= f.label "Genre" %>
<%= f.collection_select(@user_project.project_category_id, @project_categories, :id, :category_type) %> <br>

<%= f.label :description %>
<%= f.text_field :description %> <br>

<%= f.label :likes %>
<%= f.text_field :likes %> <br>

<%= f.label :views %>
<%= f.text_field :views %> <br>

<%= f.label :plays %>
<%= f.text_field :plays %> <br>

<%= f.label "Audio File" %>
<%= f.file_field :song_file %> <br>


<%= f.submit "Upload Your Song" %>
<% end %>
