<h1>Song Title: <%= @project.name %></h1>

<h3>From : <%= @project.description %></h3>
<h4>Genre: <%= UserProject.find_by_project_id(@project.id).project_category.category_type %></h4>
<h4>Likes: <%= @project.likes %></h4>
<h4>Views: <%= @project.views %></h4>

<% selected_user_projects = @user_projects.select do |up| %>
  <% up.project_id == @project.id %>
<% end %>

By: <ul>
  <% found = [] %>
  <% selected_user_projects.each do |selected| %>
    <% if found.include?(selected.project) == false %>
      <li><%= link_to(selected.user.first_name.to_s + " " + selected.user.last_name.to_s, user_path(selected.user)) %></li>
      <% found << selected.user %>
    <% end %>
  <% end %>
</ul>

<%= link_to("View all Projects", projects_path) %>